/*
*********************
*=stuff i added
*********************
*/
header{
	position: absolute;
}

#typeform{

	float: right;
	position: relative;
	top: -3.5px;
}
#channelform{

	float: right;
	position: relative;
	top: -3.5px;
}

.ui-multiselect.ui-widget.ui-state-default.ui-corner-all{
background: none;
background-color: #FFA319;
clear: both;
color: white;
font-size: 75%;
padding-right: 10px;
font: 12px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
border: none;
}
.ui-multiselect.ui-widget.ui-state-default.ui-corner-all:hover{
 	cursor:pointer;
}

#simple_form{float: left;}
#selectme{float:left;}
#loading_message{
	font-size: 16px;
	font-weight: bold;
	color: red;
}


#entering_zip{
	padding-bottom: 7px;
	position: relative;
	float: right;
}

#entering_zip:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#entering_zip br{
	display: none
}
#options br{
	font-size: 10px;
	display: none;
}
#options{
	font-size: 10px;
	clear: both;
}
#submit{
	float: right;

}
#zip{
	float: left;
}
#list{
	font-size: 16px;
	font-weight: bold;
}

header br{
	display:none;
}



/*
*********************
*=jquery multiselect css
*********************
*/
.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000; text-align: left }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }





/*
*********************
*=containers
*********************
*/
.container {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 16px;
    padding-top: 20px;
    width: 1100px;
}


/*
*********************
*= table
*********************
*/
body{
	margin: 10px 100px 10px 100px;
	background-color: #A9BCF5;
}


body {
  background: url("img/body_bg2.png") repeat scroll 0 0 #FFFFFF;
  color: #666666;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 0.875em;
  line-height: 1.6em;
}

tr.drama,tr.action,tr.adventure,tr.comedy, tr.horror, tr.crime{color: green; 
			background-color: #A9F5BC
}

td.movie,tr.movie{color: green; 
			background-color: #A9F5BC}
td.none,tr.none{background-color:#D8D8D8;}
td.tv, tr.tv{	background-color: #F5DA81}
td.mini-series,tr.mini-series{background-color: #F3F781}

td.outstanding{color:#0080FF}
td.great{color: #FF0000;}
td.good{color:#FE642E}
td.ok{color:#FAAC58;}
td.bad{color:#8A4B08;}
td.awful{color:#3B240B;}




/*
*********************
*=grid overrides
*********************
*/

.grid_3{margin-left: 60px;}


/*
*********************
*=miscellaneous
*********************
*/

}
.selected{
	font-weight: bold;
	color: black;
}
.container_24{
	margin-top: 10px;
}

p{
	font-size: 13px;
	line-height: 20px;
	color:yellow:
}

blockquote,blockquote p{
	font-size: 15px;
	line-height: 20px;
	font-style: italic;
	color: #0e0e0e;
	position: relative;
}


h1,h2{
	letter-spacing: -1px;
	text-transform: lowercase;
}


h3{
	font-size: 26px;
	text-transform: lowercase;
	border-bottom: 1px solid #d1d1d1;
	padding-bottom: 24px;
	margin-bottom: 15px;
	line-height: 1em;
}

a{
	color: #7e7e7e;
	text-decoration: none;
}

a:hover{
	color: black;
}

li{
	margin-left: 24px;
}

.button{
	background: black;
	padding: 6px;
	text-transform: uppercase;
	color: white;
	font-size: 11px;

}

.button:hover{
	background: gray;
	color: white;
}
/*
*********************
*=header
*********************
*/


#header {
    background-color: #FFA319;
    clear: both;
    margin-bottom: 16px;
    padding: 4px 4px 4px 20px;
}

body {
    color: #222222;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 75%;
}

header{
	overflow: hidden;
}

header h1{
	width: 174px;
	height: 23px;
	margin: 10px 10px 23px;
	float: left;
	
}





/*
*********************
*=nav
*********************
*/

nav{
	float: right;
	padding-top: 19px;

}
nav li{

	display: inline;
}

nav a{
	text-transform: lowercase;
}

#topNav a {
	clear: both;
	color: white;
	padding-right: 10px;
}



/*
*********************
*=banner
*********************
*/

.banner{
	background: url(../img/penguins2.jpg) no-repeat;
	width: 695px;
	height: 232px;
	clear: both;
	position: relative;
	
}

.callout{
	background: black;
	height: 231px;
	margin-left: 60px;

}

.banner h2{
	color: white;
	font-size: 28px;
	width: 400px;
	font-weight: normal;
	position: absolute;
	bottom: -10px;
	left:8px;
	padding: 0px,8px;
	background: rgba(0,0,0,.4);




}


/*
*********************
*=zipform
*********************
*/
.zip_form{
	float: right;
	width: 55%;
	height:35px;
	position: relative;
	left: 50px
}

#error_zipform{
	position: relative;
	bottom: 25px;
	font-size: 12px;
	font-weight: bold;
	color: red;
}

/*
*********************
*=main
*********************
*/

.main{
	margin-top: 20px;
}

.main blockquote p{
	padding-left: 30px;
}



.main blockquote p:after,
.main blockquote p:before{
	font-size: 40px;
	color: #bfbfbf;
	font-style: italic;
}



.main blockquote p:first-child:before{
	content: '“';
	position: absolute;
	top:5px;
	left:0;
}
.main blockquote p:last-child:after{
	content: '”';
	float: right;
	position: absolute;
	bottom: -7px;
	right: 0;

}



/*
*********************
*=footer
*********************
*/

footer{
	clear: both;
	border-top: 1px solid #d1d1d1;
	padding-top:18px;
	margin-top: 100px;
}

/*
*********************
*=work
*********************
*/


.work h2,
.work h4{
		font-size: 26px;
		font-weight:normal;
}

.work h2{

	margin-bottom: 0px;
}
.work img{
	margin-bottom: 20px;
	width: 344px;
	height: 200px;
}

.work h4{
	color:#787878;
	line-height: 1.2em;
	border-bottom: 1px solid #d1d1d1;
	padding-bottom: 33px;
	margin-bottom: 30px;
}

/*
*********************
*=loading
*********************
*/

.loading-indicator{
	margin: auto;
	width: 100px;
} 