{% extends "base.html" %}



{% block content %}

 <head>
 <title>Javascript example 1</title>
 <script src='{{ STATIC_URL }}js/doajax.js'> </script>
 <script src='{{ STATIC_URL }}js/formjs.js'> </script>


</head>

<script>
function vote(kind) {
  $.getJSON("/findproviders/", { pk:{{ object.pk }}, vote: kind }, function(json){
    alert("Was successful?: " + json['success']);
  });
}
function addClickHandlers() {
  $("#upvote").click( function() { vote("up") });
  $("#downvote").click( function() { vote("down") });
}
$(document).ready(addClickHandlers);
</script>

<script>

$('#search_box').submit(function() {
$('#jQuery_send').text("jQuery sent: " + $('#search_text').val() );
$.ajax(
{
type: "POST",
url: "http://127.0.0.1:8000/static/python/test.py/",
data: "stuff_for_python=" + $('#search_text').val(),
success: function(response)
{
        $('#python_response').text("Python returned: " + response);
}
});
return false;
});
</script>


 <p>Welcome to the site <div id='yourname'>Friend</div></p>
<input type='button' onclick='changeText()' value='Change Text'/>
<input type='button' onclick='changeText2()' value='Change Text'/>
<input type='button' onclick="Dajaxice.example.sayhello(my_js_callback);" value='Change Text'/>
<button onclick="Dajaxice.example.sayhello(Dajax.process);">Click here!</button>




 <input type="button" value="click me"onClick="javascript:doAjax()"/>
 <br/><br/>

 <div id="thediv">
  some test
 </div>

 <input type="button" value="click me" onClick="javascript:findproviders()"/>
 <br/><br/>

 <div id="thediv1">
  some test
 </div>



<div id='contact_form'>
	<center>
	<h2>Python-jQuery Example</h2>
	<form id="search_box"><input id="search_text" type="text"/></form>
	<br/>
	<div id="jQuery_send"></div>
	<div id="python_response"></div>
	</center>
</div>





  <input id="search" type="text" name="search" value="FU">

<form method="post" action="/testing/?xhr" id="ajax_example">
{% csrf_token %}
<fieldset>
<legend>Ajax example</legend>
<dl>
<dt><label for="id_name">Your name:</label></dt>

<dd id="name_container"><input type="text" id="id_name" name="name" value={{name}}></dd>

<dt><input type="submit" id="send_form" value="Send"></dt>
</dl>
</fieldset>
</form>
  
 <div id="results" style="display: none;">

</div>



<form name="zip" action="/findproviders/" method="get">
    <input id="zipcode_enter" type="text" name="zipcode_enter" value="zip">
    <input type="submit" value="Enter a Zip">
    <div id="options">
    </div>
</form>


<a href="#" id="getdata-button">Get JSON Data</a>
<div id="showdata"></div>

<input id="simple" type="text" value="08330"/>

<form id="simple_form"><input id="simple_zip" type="text"/></form>
{% endblock %}